@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
/* common */
.index-btn {
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  background-color: #eb6400;
  width: 30rem;
  margin: 0 auto;
  padding: 1em 0;
  background-repeat: no-repeat;
  background-position: left 1em top 50%;
  background-size: 1rem;
  justify-content: center;
  position: relative;
  display: flex;
}
.index-btn::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1.7rem;
  background-image: url(/salesforce/common/img/arrow-right-white.svg);
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
}

/* mainvisual */
.mainvisual {
  height: 32.05263158vw;
  margin-bottom: 10rem;
  background-image: url(/salesforce/top/img/mainvisual-bg.jpg);
  background-position: center top;
  background-size: cover;
  padding-top: 12.4vw;
}
.mainvisual__txt {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 2.94736842vw;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.1em;
  line-height: 1.25;
}

/* about */
.about {
  margin-bottom: 12.5rem;
}
.about__ttl {
  font-size: 3.4rem;
  text-align: center;
  margin-bottom: 5rem;
}
.about__ttl-em {
  color: #eb6400;
}
.about-list-item + .about-list-item {
  margin-top: 7rem;
}
.about-list-item__ttl {
  color: #0082c9;
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 3rem;
}
.about-list-item__desc {
  font-size: 1.8rem;
  line-height: 2;
  margin-bottom: 7rem;
}
.about-list-item__note {
  background-color: #d8e1ea;
  margin-top: 2rem;
  padding: 1.3em 1.7em;
  border-radius: 1.4rem;
  font-size: 1.6rem;
}

/* strength */
.strength {
  background-image: url(/salesforce/top/img/strength-bg.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7.5rem 0 10rem;
}
.strength__ttl {
  font-size: 3.4rem;
  text-align: center;
  margin-bottom: 3rem;
}
.strength__ttl-em {
  color: #eb6400;
}
.strength__intro {
  font-size: 1.8rem;
  line-height: 2;
  text-align: center;
  margin-bottom: 6rem;
}
.strength-list-item {
  width: 33.33333333%;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0 3rem;
  justify-content: flex-start;
  flex-wrap: nowrap;
  background-color: #fff;
}
.strength-list-item + .strength-list-item {
  border-left: 1px solid #d7e0ea;
}
.strength-list-item__ttl {
  color: #eb6400;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 9999px;
  width: 7.5rem;
  height: 7.5rem;
  flex-wrap: nowrap;
  margin-bottom: 2.7rem;
}
.strength-list-item__ttl-point {
  font-size: 1.4rem;
  font-family: 'Noto Sans JP', sans-serif;
}
.strength-list-item__ttl-num {
  font-size: 3rem;
  font-family: Arial, sans-serif;
  height: 43%;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.strength-list-item__catch {
  color: #eb6400;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 2rem;
}
@media all and (-ms-high-contrast: none) {
  .strength-list-item__catch {
    height: 9rem !important;
  }
  .strength-list-item__img-wrap {
    height: 15.5rem;
  }
}
.strength-list-item__img-wrap {
  margin-bottom: 3rem;
  max-width: 100%;
}
.strength-list-item__desc {
  font-size: 1.8rem;
  line-height: 1.88888889;
  padding: 0 9%;
  max-width: 100%;
}

/* point */
.point {
  background-position: center top;
  background-repeat: no-repeat;
  padding: 8.5rem 0 12rem;
  background-color: #eef1f3;
}
.point__ttl {
  font-size: 4rem;
  color: #fff;
  padding-left: 5.5rem;
  position: relative;
  margin-bottom: 10.5rem;
}
.point__ttl-before {
  font-size: 2.6rem;
  font-weight: normal;
}
.point__ttl::before {
  content: '';
  width: 0.6rem;
  height: 63%;
  background-color: #eb6400;
  position: absolute;
  left: 2.8rem;
  top: 55%;
  transform: translateY(-50%);
}
.point-content {
  background-color: #fff;
  padding: 3rem 6% 6rem;
  box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.7);
}
.point-content__ttl {
  margin-bottom: 3.5rem;
}
.point-content__intro {
  font-size: 1.8rem;
  line-height: 2;
  margin-bottom: 4rem;
}
.point-list {
  margin-bottom: 6.5rem;
}
.point-list-item {
  align-items: flex-start;
}
.point-list-item + .point-list-item {
  margin-top: 4.5rem;
}
.point-list-item__link {
  width: 34%;
  overflow: hidden;
}
.point-list-item__link .point-list-item__img {
  transition-duration: 0.5s;
}
.point-list-item__link:hover .point-list-item__img {
  transform: scale(1.2);
}
.point-list-item__desc {
  width: 60%;
}
.point-list-item__desc-ttl {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.7;
  margin-bottom: 1.5rem;
}
.point-list-item__desc-ttl-sub-ttl {
  font-size: 1.6rem;
  color: #eb6400;
}
.point-list-item__desc-txt {
  font-size: 1.8rem;
  line-height: 1.88888889;
}
.point__more-btn {
  margin-top: 3rem;
}

/* product */
.product {
  background-image: url(/salesforce/top/img/product-bg.jpg);
}
.product .content ul li img {
  margin-left: -4%;
  position: relative;
  width: 43%;
}

/* solution */
.solution {
  background-image: url(/salesforce/top/img/solution-bg.jpg);
}
.solution .content .point__intro {
  margin-bottom: 6rem;
}

/* case */
.case {
  background-image: url(/salesforce/top/img/case-bg.jpg);
}
.case-content {
  padding-top: 5rem;
}
.case-content__ttl {
  margin-bottom: 5rem;
}
.case-list-item {
  width: 45%;
}
.case-list-item + .case-list-item {
  margin-top: 0;
}
.case-list-item:nth-of-type(n + 3) {
  margin-top: 5.5rem;
}
.case-list-item__link {
  width: 100%;
  margin-bottom: 3.5rem;
  border: 1px solid #eef1f3;
  height: 26.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.case-list-item__desc {
  width: 100%;
}
.case-list-item__img-wrap {
  width: 100%;
}

/* consultant */
.consultant {
  padding: 6rem 0;
  text-align: center;
}
.consultant__ttl {
  flex-direction: column;
  align-items: center;
  color: #0082c9;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.consultant__ttl-img {
  width: 11rem;
  margin-bottom: 3rem;
}
.consultant__ttl-2 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin-bottom: 7.5rem;
}
.consultant__ttl-2::before {
  content: '';
  position: absolute;
  width: 109%;
  height: 2px;
  background-color: #000;
  bottom: -0.3em;
  left: 50%;
  transform: translateX(-50%);
}
.consultant__ttl-2-num {
  font-family: 'Oswald', sans-serif;
  font-size: 7rem;
  color: #eb6400;
  font-weight: 500;
  position: relative;
  top: 0.1em;
}
.consultant-list {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
}
.consultant-list-item {
  width: 48.1%;
  flex-wrap: nowrap;
  align-items: flex-start;
  position: relative;
}
.consultant-list-item:nth-of-type(n + 2) {
  margin-top: 8rem;
}
.consultant-list-item:nth-of-type(2n + 3)::after {
  content: '';
  position: absolute;
  width: 9999%;
  background-color: #eef1f3;
  height: 1px;
  right: 0;
  max-width: 100rem;
  top: -4rem;
}
.consultant-list-item--full {
  width: 100% !important;
}
.consultant-list-item--full .consultant-list-item__figure {
  width: 21.2%;
}
.consultant-list-item--full .consultant-data-list {
  width: 77%;
  justify-content: flex-start;
}
.consultant-list-item--full .consultant-data-list-item {
  width: 32.46753247%;
}
.consultant-list-item--full .consultant-data-list-item + .consultant-data-list-item {
  margin-top: 0;
}
.consultant-list-item--full .consultant-data-list-item:not(:nth-of-type(3n + 1)) {
  margin-left: 1.2987013%;
}
.consultant-list-item--full .consultant-data-list-item:nth-of-type(n + 4) {
  margin-top: 1rem;
}
.consultant-list-item__figure {
  width: 44.07484407%;
}
.consultant-list-item__figure-img {
  margin-bottom: 0.3rem;
}
.consultant-data-list {
  width: 52%;
}
.consultant-data-list-item + .consultant-data-list-item {
  margin-top: 1rem;
}
.consultant-data-list-item {
  width: 100%;
}
.consultant-data-list-item__body {
  background-color: #f6f8fa;
  padding: 0.5em 1em 0.5em 0.8em;
  align-items: center;
  width: 100%;
}
.consultant-data-list-item__note {
  font-size: 1rem;
  text-align: left;
  margin-top: 0.7em;
}
.consultant-data-list-item__txt {
  text-align: left;
  color: #0082c9;
  line-height: 1.3;
  font-size: 1.5rem;
  width: 71%;
}
.consultant-data-list-item__txt .narrow {
  letter-spacing: -0.1em;
}
.consultant-data-list-item__num {
  width: 29%;
  text-align: right;
  font-size: 1.8rem;
  white-space: nowrap;
}
.consultant-data-list-item__num-figure {
  font-family: 'Oswald', sans-serif;
  font-size: 3.6rem;
}

/* subsidy */
/* .subsidy {
  padding: 5.5rem 0;
}
.subsidy .subsidy__body {
  border: 0.8rem solid #eef1f3;
  padding: 5rem 5%;
}
.subsidy .subsidy__body h3 {
  color: #0082c9;
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 2.5rem;
}
.subsidy__intro {
  font-size: 1.8rem;
  line-height: 1.88888889;
  margin-bottom: 3rem;
}
.subsidy__example {
  align-items: flex-start;
}
.subsidy__txt {
  width: 50%;
}
.subsidy__ttl,
.subsidy__note {
  font-size: 1.8rem;
  line-height: 1.88888889;
}
.subsidy__ttl {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.subsidy__example-list {
  margin-bottom: 2rem;
}
.subsidy__example-list-item {
  font-size: 1.8rem;
  line-height: 2.22222222;
  padding-left: 1.2em;
  position: relative;
}
.subsidy__example-list-item::before {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #eb6400;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.subsidy__img {
  width: 44%;
} */

/* expert */
.expert {
  padding: 10rem 0 6rem;
}
.expert__ttl {
  grid-column: 1/3;
  text-align: center;
  font-size: 2.6rem;
  line-height: 1.385;
  color: #0082c9;
}
.expert__inner {
  grid-template-columns: 12.5% 1fr;
  border: 5px solid #eef1f3;
  padding: 3.8rem 3.6%;
  gap: 2.3rem 2.5%;
}
.expert__txt {
  font-size: 1.8rem;
  line-height: 1.89;
}
.expert__img {
  margin-top: 0.4em;
}

/* news */
.news__index-btn {
  margin-top: 5rem;
  width: 40rem;
}

@media screen and (min-width: 1900px) {
  .point {
    background-size: 100%;
  }
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
  .consultant-list-item {
    width: 47.9%;
  }
  .consultant-data-list-item__txt {
    font-size: 1.6vw;
    white-space: inherit;
  }
  .consultant-data-list-item__num {
    font-size: 1.8vw;
  }
  .consultant-data-list-item__note {
    font-size: 1vw;
  }
  .consultant-data-list-item__num-figure {
    font-size: 4vw;
  }
  .consultant-list-item__figure-figcaption {
    white-space: inherit;
  }
  .case-list-item__link {
    height: 25.146vw;
  }
}
@media screen and (max-width: 767px) {
  .inner {
    width: 92%;
  }
  .index {
    background-size: 321vw;
    background-position: left -49vw top;
  }
  .mainvisual {
    background-image: url(/salesforce/top/img/mainvisual-bg-sp.jpg);
    margin-bottom: 14vw;
    height: 127.33333333vw;
    padding-top: 54.5vw;
  }
  .mainvisual__txt {
    font-size: 6.66666667vw;
    line-height: 1.32;
    letter-spacing: 0.075em;
  }

  .about {
    margin-bottom: 20vw;
  }
  .about__ttl {
    font-size: 6.4vw;
    margin-bottom: 8vw;
  }
  .about-list-item {
    overflow-x: hidden;
  }
  .about-list-item + .about-list-item {
    margin-top: 10vw;
  }
  .about-list-item__ttl {
    font-size: 5.06666667vw;
    margin-bottom: 3vw;
  }
  .about-list-item__desc {
    font-size: 3.46666667vw;
    line-height: 2.07692308;
    margin-bottom: 7vw;
  }
  .about-list-item__note {
    margin-top: 3vw;
    border-radius: 1.86666667vw;
    font-size: 2.66666667vw;
    padding: 1.5em 2.1em;
    line-height: 1.7;
  }
  .about-list-item:nth-of-type(2) .about-list-item__img {
    width: 118%;
    max-width: inherit;
    position: relative;
    left: -11vw;
  }

  .strength {
    padding: 14vw 0 20vw;
    background-image: url(/salesforce/top/img/strength-bg-sp.jpg);
  }
  .strength__ttl {
    font-size: 6.4vw;
    margin-bottom: 7vw;
  }
  .strength__intro {
    font-size: 3.46666667vw;
    text-align: left;
    line-height: 2.07692308;
    margin-bottom: 11vw;
  }
  .strength__list {
    display: block;
  }
  .strength-list-item {
    width: 100%;
    padding: 8vw 5vw;
  }
  .strength-list-item + .strength-list-item {
    border-left: none;
    margin-top: 5vw;
  }
  .strength-list-item__ttl {
    width: 17vw;
    height: 17vw;
    padding-top: 1vw;
    margin-bottom: 3vw;
  }
  .strength-list-item__ttl-point {
    font-size: 2.93333333vw;
    margin-bottom: -0.5vw;
  }
  .strength-list-item__ttl-num {
    font-size: 6.4vw;
  }
  .strength-list-item__catch {
    font-size: 4.26666667vw;
    line-height: 1.6875;
    margin-bottom: 3vw;
  }
  .strength-list-item__img-wrap {
    height: auto;
    margin-bottom: 6vw;
  }
  .strength-list-item__desc {
    word-break: break-all;
    line-height: 2.07692308;
    font-size: 3.46666667vw;
    padding: 0;
  }

  .point {
    background-size: 100%;
    padding: 17vw 0 19vw;
  }
  .point__ttl {
    font-size: 5.86666667vw;
    padding-left: 5vw;
    line-height: inherit;
    margin-bottom: 8vw;
    padding: 0 0 3vw 5vw;
  }
  .point__ttl::before {
    left: 0;
    height: 83%;
    top: 50%;
  }
  .point__ttl-before {
    font-size: 4.26666667vw;
    line-height: 1.7;
    display: inline-block;
  }
  .point-content__ttl {
    margin-bottom: 7vw;
  }
  .point-content {
    padding: 9.5vw 5vw 16vw;
  }
  .point-list-item {
    display: block;
  }
  .index-btn {
    max-width: 100%;
    width: 100%;
    font-size: 4.8vw;
  }
  .point-content__intro {
    font-size: 3.46666667vw;
    line-height: 2.07692308;
    margin-bottom: 16vw;
  }
  .point-list {
    margin-bottom: 19vw;
    display: block;
  }
  .point-list-item + li {
    margin-top: 20vw;
  }
  .point-list-item__link {
    width: 100%;
    margin-bottom: 7.5vw;
    display: block;
  }
  .point-list-item__desc {
    width: 100%;
  }
  .point-list-item__desc-ttl {
    text-align: center;
    font-size: 4.26666667vw;
    margin-bottom: 3.5vw;
  }
  .point-list-item__desc-ttl-sub-ttl {
    font-size: 3.73333333vw;
  }
  .point-list-item__desc-txt {
    font-size: 3.46666667vw;
    line-height: 2.07692308;
  }
  .point__more-btn {
    display: block;
    margin: 9vw auto 0;
    text-align: right;
    width: 8.203125em;
    padding: 0 0.3em 0 0;
    font-size: 4.26666667vw;
  }
  .point__more-btn::before {
    width: 100%;
    bottom: -0.55em;
  }

  .product {
    background-image: url(/salesforce/top/img/product-bg-sp.jpg);
  }
  .product-list-item__img {
    margin-left: 0;
    top: inherit;
    width: 100%;
    margin-bottom: 9vw;
  }

  .solution {
    background-image: url(/salesforce/top/img/solution-bg-sp.jpg);
  }
  .solution-content__intro {
    margin-bottom: 11vw;
  }
  .solution-list-item__desc-ttl {
    text-align: left;
  }

  .case {
    background-image: url(/salesforce/top/img/case-bg-sp.jpg);
  }
  .case-content {
    padding-top: 7vw;
  }
  .case-content__ttl {
    margin-bottom: 9vw;
  }
  .case-list-item {
    width: 100%;
  }
  .case-list-item + .case-list-item {
    margin-top: 12vw;
  }
  .case-list-item__link {
    margin-bottom: 7vw;
    height: auto;
  }
  .case-list-item__desc-ttl {
    text-align: left;
  }

  .consultant {
    padding: 15vw 0 6vw;
  }
  .consultant__ttl {
    font-size: 5.33333333vw;
    margin-bottom: 3vw;
  }
  .consultant__ttl-img {
    width: 21vw;
    margin-bottom: 4.5vw;
  }
  .consultant__ttl-2 {
    font-size: 4.26666667vw;
    margin-bottom: 10vw;
  }
  .consultant__ttl-2::before {
    max-width: inherit;
  }
  .consultant__ttl-2-num {
    font-size: 12.26666667vw;
  }
  .consultant-list {
    overflow: hidden;
  }
  .consultant-list-item {
    display: block;
  }
  .consultant-list-item:nth-of-type(n + 2) {
    margin-top: 12vw;
  }
  .consultant-list-item:nth-of-type(2n + 1)::after {
    top: -6vw;
  }
  .consultant-data-list {
    width: 100%;
  }
  .consultant-data-list-item {
    width: 43.86666667vw !important;
  }
  .consultant-data-list-item__body {
    padding: 0.5em 0.5em 0.5em 0.7em;
  }
  .consultant-data-list-item__txt {
    font-size: 2.66666667vw;
    white-space: nowrap;
  }
  .consultant-data-list-item__note {
    margin-top: 0.5em;
    font-size: 2.13333333vw;
    line-height: 1.7;
  }
  .consultant-data-list-item__num {
    font-size: 3.156vw;
  }
  .consultant-data-list-item__num-figure {
    font-size: 7.012vw;
  }
  .consultant-list-item__figure {
    margin-bottom: 6vw !important;
    margin-left: auto;
    margin-right: auto;
    width: 31vw;
  }
  .consultant-list-item__figure-img {
    margin-bottom: 0;
  }
  .consultant-list-item__figure-figcaption {
    font-size: 2.4vw;
  }
  .consultant-list-item--full .consultant-list-item__figure {
    margin: 0 auto;
    width: 37%;
  }
  .consultant-list-item--full .consultant-data-list {
    width: 100%;
    justify-content: space-between;
  }
  .consultant-list-item--full .consultant-data-list-item:not(:nth-of-type(3n + 1)) {
    margin-left: 0;
  }
  .consultant-list-item--full .consultant-data-list-item:nth-of-type(n + 4) {
    margin-top: 0;
  }
  .consultant-list-item--full .consultant-data-list-item:nth-of-type(n + 3) {
    margin-top: 2.66666667vw;
  }

  .subsidy {
    padding: 6vw 0 7vw;
  }
  .subsidy .subsidy__body {
    padding: 8vw 2vw;
    border-width: 1.06666667vw;
  }
  .subsidy .subsidy__body h3 {
    font-size: 4.26666667vw;
    margin-bottom: 5vw;
  }
  .subsidy__ttl,
  .subsidy__intro,
  .subsidy__example-list-item,
  .subsidy__note {
    font-size: 3.46666667vw;
    line-height: 2.07692308;
  }
  .subsidy__example {
    flex-direction: column-reverse;
  }
  .subsidy__img {
    width: 100%;
    margin-bottom: 6vw;
  }
  .subsidy__txt {
    width: 100%;
  }
  .subsidy__ttl {
    font-size: 3.46666667vw;
    margin-bottom: 1.5vw;
  }
  .subsidy__example-list-item {
    padding-left: 6vw;
  }
  .subsidy__example-list-item::before {
    width: 1.6vw;
    height: 1.6vw;
    left: 2vw;
  }

  /* news */
  .news__index-btn {
    width: 95%;
    margin-top: 12vw;
  }

  /* expert */
  .expert {
    padding: 15vw 0 0;
  }
  .expert__inner {
    grid-template-columns: 100%;
    padding: 6vw 4vw;
    gap: 0;
    border-width: 1.06666667vw;
  }
  .expert__img {
    order: 0;
    width: 21.33333333vw;
    justify-self: center;
    margin-bottom: 4vw;
  }
  .expert__ttl {
    grid-column: auto;
    font-size: 4.26666667vw;
    order: 1;
    margin-bottom: 3vw;
  }
  .expert__txt {
    font-size: 3.46666667vw;
    order: 2;
    line-height: 2.07692308;
  }
}
