/* =============================
  attempt
=================================*/
#attempt {
  background: var(--colorGray);
  padding-block: 8rem;
  .attempt__container {
    display: grid;
    gap: 4rem;
    margin-top: 4rem;
    .attempt__content {
      .attempt__title {
        font-size: 2.8rem;
        line-height: 1.53;
        color: var(--colorWhite);
        letter-spacing: 0.065em;
        background: var(--colorOrange);
        padding-block: 1.8rem;
        text-align: center;
        border-radius: 4rem 4rem 0 0;
      }
      .attempt__textarea  {
        background: var(--colorWhite);
        padding: 4rem 8rem;

        .attempt__text {
          font-size: 1.6rem;
          line-height: 1.875;
        }
        .attempt__img {
        }
        .attemptNotes {
            font-size: 1.3rem;
            letter-spacing: 0.045em;
            line-height: 1.615;
            padding: 2rem 4rem;
            background: var(--colorGray);
        }
      }  
    }
  }
}

/* =============================
  strong
=================================*/
#strong {
  padding-block: 8rem;
  .strong__column {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin-top: 8rem;
    .strongItem {
      background: var(--colorGray);
      position: relative;
      padding: 0 3.4rem 3.4rem; 
      .strongItem__point {
        font-size: 1.2rem;
        letter-spacing: 0.1em;
        color: var(--colorOrange);
        line-height: 1;
        display: grid;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-70%);
        .num {
          font-size: 4.4rem;
          letter-spacing: 0.01em;
        }
      }
      .strongItem__title {
        font-size: 2rem;
        line-height: 1.7;
        letter-spacing: 0.1em;
        color: var(--colorOrange);
        margin-top: 4rem;
        text-align: center;
      }
      .strongItem__img {
        padding-inline: 2rem;
        max-height: 24rem;
        height: 100%;
        display: flex;
        align-items: center;
        margin-top: 1rem;
      }
      .strongItem__text {
        font-size: 1.6rem;
        letter-spacing: 0.025em;
        line-height: 1.875;
        margin-top: 2rem;
      }
    }
  }
}

/* =============================
  original&solution
=================================*/
.card {
  background: var(--colorWhite);
  padding: 0 8rem 4rem;
  display: grid;
  .card__hgroup {
    position: absolute;
    transform: translateX(-50%) translateY(-70%);
    left: 50%;
    p {
      font-size: 1.2rem;
      line-height: 1.75;
    }
    h2 {
      font-size: 2.8rem;
      line-height: 1.75;
      letter-spacing: 0.1em;
      color: var(--colorOrange);
    }
  }
  .card__text {
    font-size: 1.6rem;
    line-height: 1.875;
    letter-spacing: 0.025em;
    margin-top: 4rem;
  }
  .cardColumn {
    display: grid;
    grid-template-columns: 34.7% auto;
    gap: 4rem;
    margin-top: 4rem;
    .cardColumn__textarea {
      .cardColumn__header {
        padding-bottom: 1.6rem;
        border-bottom: 1px solid var(--colorBlack);
        p {
          font-size: 1.3rem;
          letter-spacing: 0.05em;
          color: var(--colorBlue);
        }
        h3 {
          font-size: 2rem;
          line-height: 1.6;
          letter-spacing: 0.1em;
        }
      }
      .cardColumn__text {
        font-size: 1.6rem;
        letter-spacing: 0.025em;
        line-height: 1.875;
        margin-top: 1.6rem;
      }

    }
  }
  .common__BlueLink {
    margin-top: 4rem;
  }
}

#original {
  background: var(--colorGray);
  padding-block: 10rem 8rem;
}

#solution {
  padding-block: 10rem 8rem;
  .card {
    background: var(--colorGray);
  }
}

/* =============================
  case
=================================*/
#case {
  background: var(--colorGray);
  padding-block: 8rem;
  .case__column {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem;
    .caseItem {
      background: var(--colorWhite);
      border-radius: 2rem;
      .caseItem__img {
        border-radius: 2rem 2rem 0 0;
        border-bottom: 1px solid var(--colorGray);
        height: 21rem;
        overflow: hidden;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      .caseItem__textarea {
        padding: 3.6rem;
        .caseItem__header {
          p {
            font-size: 1.3rem;
            letter-spacing: 0.065em;
            color: var(--colorOrange);
          }
          h3 {
            font-size: 2rem;
            letter-spacing: 0.1em;
            line-height: 1.6;
            margin-top: 1rem;
          }
        }
        .caseItem__text {
          margin-top: 4rem;
          font-size: 1.6rem;
          line-height: 1.875;
          letter-spacing: 0.065em;
        }
      }
    }
  }
  .common__BlueLink {
    margin-top: 4rem;
  }
}

/* =============================
  distribution
=================================*/
#distribution {
  .distHead {
    padding: 3.2rem 8rem;
    .distHead__title {
      font-size: 2rem;
      letter-spacing: 0.075em;
      line-height: 1.6;
    }
    .distHead__column {
      display: grid;
      grid-template-columns: 8.3rem auto;
      gap: 4rem;
      .distHead__text {
        font-size: 1.6rem;
        letter-spacing: 0.025em;
        line-height: 1.875;
      }
    }
  }
  .distBody {
    .distBodyColumn {
      display: grid;
      grid-template-columns: 10rem auto;
      gap: 3.2rem;
      .distBodyColumn__title {
        font-size: ;
      }
    }
  }
}